<footer class="page-footer">
  <div class="container">
    <div class="row padding-bottom">
      <div class="col l7 s12 no-margin no-padding">
        <h5><span>niels</span><span>.</span><span class="amber-text text-lighten-3">delestinne</span><span>()</span><span class="amber-text text-lighten-3">;</span></h5>
        <p class="grey-text text-lighten-1">
          {{- site.description | escape -}}
        </p>

      </div>
      <div class="col l2 offset-l1 s6">
        <h5 class="white-text">Navigation</h5>
        <ul>
          {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
      <div class="col l2 s6">
        <h5 class="white-text">Find me on</h5>
        {%- include social.html -%}
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      © Copyright 2020 (& up) - Niels Delestinne
      • <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      • This website uses no cookies 🍪
    </div>
  </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="/assets/js/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize-min.js"></script>
<script type="text/javascript" src="/assets/js/init.js"></script>