body {
  @extend .blue-grey, .darken-4;
  @extend .blue-grey-text, .text-lighten-4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem !important;
}

.content-wrapper {
  @extend .blue-grey, .darken-4 !optional;
}

.post-list > li {
  @extend .z-depth-3 !optional;
  @extend .blue-grey, .darken-3 !optional;
  overflow: hidden;
}

.post-excerpt-container {
  //display: flex; // wrecks mobile 2 column -> 1 column shift
}

.post-excerpt-header > h3 {
  margin: 0 0 1rem 0; // Fixed margin
}

.post-list > li > .row {
  margin: 0;
}

.post-link {
  background: linear-gradient(to right, #ffe082, #ffb167, #ff7a70, #ff4392, #cf2ec1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post-link:hover {
  background: linear-gradient(to left, #ffe082, #ffb167, #ff7a70, #ff4392, #cf2ec1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction-banner-wrapper {
  overflow: hidden;
}

.introduction-banner-container {
  @extend .z-depth-2 !optional;
  background-image: linear-gradient(to right, rgba(255, 224, 130, 0.8),rgba(255, 167, 101, 0.75), rgba(240, 109, 100, 0.70), rgba(204, 55, 114, 0.65), rgba(142, 24, 132, 0.6));
  transform: rotate(-1.5deg);
  width: 110%;
}

.introduction-banner-content {
  transform: rotate(1.5deg);
}

.highlight {
  @extend .z-depth-3 !optional;
  @extend .blue-grey, .darken-3 !optional;
  @extend .white-text !optional;
  padding: 1rem;
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  text-decoration: none;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #fff;
  margin-right: 10px;
  vertical-align: text-top;
}

@media #{$medium-and-up} {
  // styles for medium screens and larger
  $margin: 3rem;
  $padding: 3rem;

  .content-wrapper {
    padding: $padding;
    margin: $margin;
  }

  h1 {
    margin: 0 0 $margin 0;
    padding: 0;
  }

  .page-footer {
    margin-top: $margin * 2;
  }

  .page-footer > .container,  .footer-copyright > .container{
    padding: 0 $padding 0 $padding;
  }

  .introduction-banner-container {
    margin: -76px 0 $margin -10%;
    padding: ($padding * 2.75) 0 ($padding * 1) 10%;
  }

  .introduction-banner-content > .container > .flow-text{
    margin: $margin;
  }

  .post-list-heading {
    margin: 0 0 $margin 0;
  }

  .post-list > li {
    margin: 0 0 $margin 0;
  }

  .post-excerpt-header {
    padding: $padding;
  }

  .post-excerpt-body {
    padding: $padding;
  }

  .nav-inner-content {
    padding: 0 $padding 0 $padding;
  }

}

@media #{$small-and-down} {
  // styles for small screens and down
  $margin: 1rem;
  $padding: 1rem;

  .container {
    width: 100%;
  }

  h1 {
    margin: 0 0 $margin 0;
    padding: 0;
  }

  .page-footer {
    margin-top: $margin * 2;
  }

  .page-footer > .container,  .footer-copyright > .container{
    padding: 0 $padding 0 $padding;
  }

  .introduction-banner-container {
    margin: -56px 0 $margin -10%;
    padding: ($padding * 2.75) 0 ($padding * 1) 10%;
  }

  .introduction-banner-content > .container > .flow-text{
    margin: ($margin * 3) $margin $margin $margin;
  }

  .content-wrapper {
    padding: $padding;
    margin: $margin;
  }

  .post-list-heading {
    margin: 0 0 $margin 0;
  }

  .post-list > li {
    margin: 0 0 $margin 0;
  }

  .post-excerpt-header {
    padding: $padding;
  }

  .post-excerpt-body {
    padding: $padding;
  }

  .nav-inner-content {
    padding: 0 $padding 0 $padding;
  }

}



