---
layout: default
---

<div class="top-page-banner-wrapper">
    <div class="top-page-banner-container">
    </div>
</div>

<div class="cv">

    <section class="container">
        <div class="content-wrapper-cv z-depth-5">
            <span class="right"><button class="btn download-cv btn-small waves-effect waves-light" title="Download CV"
                                        onclick="window.print()"><i
                    class="material-icons black-text">file_download</i></button></span>
            <span class="right"><button class="btn downloading-cv btn-small waves-effect waves-light"
                                        title="Downloading..." disabled><i
                    class="material-icons black-text">refresh</i></button></span>
            <div class="content-wrapper-cv-inner">
                <div>
                    <img src="/assets/niels.png" class="right" alt="Niels Delestinne">
                </div>
                <h1 class="post-title no-margin" itemprop="name headline">Niels Delestinne</h1>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">child_care</i>
                            Jan. 1991, Belgian
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                            Diest 3290, BE
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">email</i>
                            <a href="mailto:cv@niedel.be">cv@niedel.be</a>
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">local_phone</i>
                            <em>on demand</em>
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">code</i>
                            <a href="https://github.com/nielsdelestinne" target="_blank" title="GitHub">GitHub</a>
                        </div>
                        <div>
                            <i class="tiny material-icons amber-text text-lighten-3">face</i>
                            <a href="https://www.linkedin.com/in/niedel" target="_blank" title="LinkedIn">LinkedIn</a>
                        </div>
                    </div>
                </div>
                <div>
                    <time class="dt-published padding-right-half" datetime="25/06/2024" itemprop="datePublished">
                        <i class="tiny material-icons">access_time</i>
                        <em class="online-notice">CV updated on 25/06/2024.</em>
                        <em class="print-notice">View the most recent version of my CV online at <a
                                href="https://niedel.be/cv" title="Niels Delestinne CV" target="_blank">niedel.be/cv</a>.</em>
                    </time>
                </div>
            </div>
        </div>
    </section>

    <section class="container no-margin-bottom">
        <div class="content-wrapper z-depth-5">
            <h2 class="no-margin">Profile</h2>
            <p class="flow-text no-margin-bottom no-padding-bottom">
                A freelance <strong>full-stack software developer</strong> & <strong>tech lead</strong> with active
                professional
                knowledge on <strong>Java, Angular</strong> and
                both of their <strong>entire ecosystems</strong>. A true believer of <strong>software
                craftsmanship</strong> and
                the <strong>eXtreme Programming
                practices</strong>. Strives to write <strong>readable, flexible</strong> and <strong>simple
                code</strong> that
                is properly <strong>tested</strong>. Aims to create
                <strong>maintainable</strong>, <strong>flexible</strong> and <strong>performant</strong> applications
                together, in team. Embraces and enjoys
                <strong>continuous
                    learning</strong>. <strong>Coaches</strong> and tries to <strong>inspire</strong>.
                <strong>Mediates</strong>, <strong>collaborates</strong> & <strong>communicates</strong> well.
                <strong>Creative</strong>,
                <strong>friendly</strong> and <em>slightly</em> <strong>funny</strong>.
            </p>
        </div>
    </section>

    <section class="container no-margin-bottom">
        <div class="content-wrapper z-depth-5">
            <h2 class="no-margin">Work experience</h2>
            <div class="z-depth-3 education flex-element no-margin-bottom">
                <h3>Full-stack Developer @ DELA <span class="badge">FREELANCE</span> <span
                        class="badge">CURRENT PROJECT</span></h3>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                            Feb. 2024 - <strong>Present</strong>
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">work</i>
                            DELA (on behalf of Kunlabora)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                            Leuven, Belgium. Antwerp, Belgium
                        </div>
                    </div>
                </div>
                <hr class="fade">
                <p class="flow-text">
                    Taking over the portal applications...
                </p>
                <p>DELA specializes in offering funeral plans, life insurance, and related financial products to ensure
                    individuals and families are well-prepared for end-of-life arrangements. DELA focuses on delivering
                    compassionate support, efficient planning, and financial security to its clients during difficult
                    times.</p>
                <p>At DELA, I'm part of the newly created Kunlabora team, which is tasked with fully taking over all
                    applications - which enable the policy proposal flows - of DELA's insurance branch. These are known
                    as "the portals" and consist of different UIs and a lot of (micro)services.</p>
                <p>Part of our mission is to rationalize the architecture and improve the overall quality and
                    reliability of the aforementioned applications landscape. It is not the easiest of assignments, but
                    we've got a great set of clever thinkers and are driven by a can-do mindset.</p>

            </div>
            <div class="z-depth-3 education flex-element no-margin-bottom">
                <h3>Full-stack Developer @ Siemens Gamesa <span class="badge">FREELANCE</span></h3>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                            Jan. 2023 - Jan. 2024
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">work</i>
                            Siemens Gamesa (on behalf of Kunlabora)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                            Leuven, Belgium. Cuxhaven, Germany
                        </div>
                    </div>
                </div>
                <hr class="fade">
                <p class="flow-text">
                    Minimizing the air-gap of offshore wind turbines.
                </p>
                <p>
                    Siemens Gamesa is one of the leaders in renewable energy and pioneered the offshore wind
                    industry. Since then, both the use and size of wind turbines have scaled immensely.
                    Producing and assembling these wind turbines requires the finest engineering and highest
                    precision.
                </p>
                <p>
                    To ensure optimal yield and reduce maintenance overhead, minimizing the air gap between the
                    rotor and stator is vital.
                    Therefore, the assembly process is measurement-driven; each work center is equipped with
                    their
                    own specialized measurement devices.
                </p>
                <p>
                    As a member of the designated Kunlabora software development team, we were tasked with
                    creating
                    a central coordinator (named MWC). It mediates the communication between the involved work
                    centers through well-defined protocols, schematics, and APIs.
                    MWC aggregates the measurements and channels them to subsequent work centers, enabling these
                    work centers and their operators to achieve the highest precision.
                    When each link in the assembly chain is optimized, so is the final assembled turbine.
                </p>
                <p>
                    Additionally, MWC is built to offer support for managing and planning production orders, for
                    manually intervening, overriding or rolling back steps in the assembly process (failsafes),
                    for
                    monitoring the assembly process and its current progress,
                    for monitoring the state of the MWC infrastructure, and for designing and defining—at
                    runtime—the actors and exchanged data involved in the assembly process of a particular wind
                    turbine.
                </p>
                <p>
                    Finally, we had full responsibility for configuring and installing the entire,
                    high-availability, infrastructure on which MWC runs.
                </p>
                <p>
                    A truly unique project, experience, and team.
                </p>
                <h4>Technologies used</h4>
                <p>
                    Some of the technologies and tools I've used: Java 17+, Spring Boot & others (JDBC-Data, Web,
                    Security,...), PostgreSQL, JUnit5, ArchUnit, Ports & Adapters (architecture), Jackson, Flyway,
                    Testcontainers, GitHub Actions,
                    Terraform, Azure, Docker & Docker Compose, REST(ful) APIs, Gradle, Angular (16), TypeScript,
                    NPM, Playwright, Git, SonarCloud.
                </p>
                <h4>Achievements & responsibilities</h4>
                <ul>
                    <li>Day-to-day hands-on programming and pairing on new features</li>
                    <li>Setting up, reviewing and improving the structure and architecture</li>
                    <li>Conducting in-depth analyses and proposing effective solutions</li>
                    <li>Coaching, training, and enabling other team members</li>
                    <li>Learning from other team members whenever the chance arose</li>
                    <li>Facilitating and participating in workshops in both Denmark and Germany with Siemens Gamesa
                        and its suppliers
                    </li>
                    <li>Coordinating the integration of the measurement equipment with MWC</li>
                    <li>Configuring and installing the infrastructure</li>
                </ul>
            </div>
            <div class="z-depth-3 education flex-element no-margin-bottom">
                <h3>Full-stack Developer & Tech lead @ Acerta</h3>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                            Jan. 2020 - Jan. 2023
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">work</i>
                            Acerta (on behalf of Cegeka)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                            Acerta, Leuven
                        </div>
                    </div>
                </div>
                <hr class="fade">
                <p class="flow-text">
                    Creating an entire new and
                    state-of-the-art payment engine for Acerta.
                </p>
                <p>
                    Acerta is one of Belgium's largest social security office and payroll service provider.
                    Correctly and quickly calculating wage calculations, generating payment slips, paying out
                    salaries and sending declarations to the correct legal instances are only a few of the many
                    processes that need to be automated.
                </p>
                <p>
                    Having joined the project from the beginning, I worked on many domains in
                    different teams. During the last year, I was the tech lead of a 10-person team, working on both
                    back and front-end.
                </p>
                <h4>Technologies used</h4>
                <p>
                    Some of the technologies and tools I've used: Java
                    11+, Java modularity, JPA with Hibernate, Spring boot & others (data, web, security,...), MySQL,
                    Cucumber (BDD), JUnit, Microservices, Ports & Adapters
                    (architecture), Jackson, Pulsar, Debezium, Jenkins, OpenShift (OKD), Docker & Docker compose,
                    Kibana,
                    New Relic, PACT (contract testing), REST(ful) APIs, SFTP, Maven, Angular (11+), TypeScript, NPM,
                    Nrwl Nx, ESLint,
                    Prettier, JEST, Storybook, Cypress, Git, JProfiler & RabbitMQ.
                </p>
                <h4>Achievements & responsibilities</h4>
                <ul>
                    <li>Taking up the role of tech lead</li>
                    <li>Designing and implementing working solutions for complex functional problems</li>
                    <li>Designing and implementing an integrated setup for contract testing - all microservice
                        REST(ful) APIs - with PACT, used by all service and all 8 teams.
                    </li>
                    <li>Taking up the role of (shadow) front-end architect</li>
                    <li>Designing the architecture and performing the setup of the front-end applications</li>
                    <li>Deciding on & implementing the Authorization code flow with PKCE for OAuth 2.0 for the
                        front-end applications.
                    </li>
                </ul>
            </div>
            <div class="z-depth-3 education flex-element no-margin-bottom">
                <h3>Co-founder & Technical Trainer Switchfully</h3>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                            Sep. 2017 - Jan. 2020
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">work</i>
                            Switchfully (internal venture of Cegeka)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                            BeCentral, LCM, FBS Finance,...
                        </div>
                    </div>
                </div>
                <hr class="fade">
                <p class="flow-text">
                    Founding & growing an internal venture called Switchfully.
                </p>
                <p>
                    After having attended an entrepreneurial bootcamp in which I - together with some likeminded
                    colleagues - worked out the idea of Switchfully and successfully pitched it, we received the
                    support of Cegeka to found Switchfully as an internal venture.
                </p>
                <p>
                    The value proposition of Switchfully goes as follows: "At Switchfully, we set out to explore
                    and discover motivated individuals who have a great mindset and are ready for a career
                    switch. We then retrain these individuals in one of our officially recognized and
                    battle-proven training tracks to become junior software developers. Your junior software
                    developers to be precise."
                </p>
                <p>
                    A truly amazing experience all-around.
                </p>
                <h4>Technologies used</h4>
                <p>
                    Some of the technologies and tools I've used: Java
                    8+, JDBC, JPA with Hibernate, Spring boot & other (data, web, security,...), MySQL, Oracle SQL,
                    JUnit, Mockito, Layered architecture,
                    Jenkins, AWS, Azure, Azure DevOps, Heroku, Docker & Docker compose, Jackson, SOAP, REST(ful),
                    Maven, MongoDB, Express.js, Vaadin, Angular, TypeScript, NPM, Jasmine, C# (7),
                    .NET Core, ASP.NET Core, Entity Framework & LINQ.
                </p>
                <h4>Achievements & responsibilities</h4>
                <ul>
                    <li>Outline, create and maintain a custom, 4-month full-stack training track</li>
                    <li>Teach, coach and train</li>
                    <li>Breath and live 'Continuous learning and improvement'</li>
                    <li>Branding (Creation of logo, website, visuals,...)</li>
                    <li>Perform online marketing</li>
                    <li>Recruitment of candidates</li>
                    <li>Support my colleague and co-founder in sales, organization & finance</li>
                    <li>Sign our first customer</li>
                    <li>Move to our own office & classroom at BeCentral Brussels</li>
                    <li>Work with extremely motivated individuals</li>
                </ul>
            </div>
            <div class="z-depth-3 education flex-element no-margin-bottom">
                <h3>Full-stack Developer @ VDAB</h3>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                            Aug. 2015 - Sep. 2017
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">work</i>
                            VDAB (on behalf of Cegeka)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                            VDAB, Brussels
                        </div>
                    </div>
                </div>
                <hr class="fade">
                <p class="flow-text">
                    Working as a full-stack software developer in an Agile team.
                </p>
                <p>
                    In 2015 I started my professional career as a full-stack developer at Cegeka. For several
                    years, I have worked for client VDAB on different - mainly greenfield - projects. The VDAB,
                    being the public employment service of Flanders, has a lot of needs and ideas to transform
                    their business processes into digital applications and flows. More information on some of
                    these applications can be found in the <a
                        href="https://www.linkedin.com/in/niedel/details/projects/" target="_blank"
                        title="LinkedIn Projects"> Projects section of my LinkedIn profile</a>.
                </p>
                <p>
                    Thanks to a great set of colleagues, I was able to learn a lot on working according to the
                    Agile methodology by applying Scrum, on eXtreme Programming principles and practices, on
                    software design and on software development in general.
                </p>
                <h4>Technologies used</h4>
                <p>
                    Technologies I've used throughout these years include, but are not limited to: Java 8,
                    Spring Framework, Spring Boot, JPA specification, Hibernate, Jackson, JAX-RS, JAXB, HornetQ,
                    JUnit, Selenium / Selenide, Mockito, Oracle SQL, MySQL, Flyway, Jenkins, SonarQube, Maven,
                    Gradle, AngularJS, Angular (2+), NPM, Grunt, Gulp, Webpack, Jasmine (with Karma), Protractor
                    and many more.
                </p>
            </div>
        </div>
    </section>

    <section class="container skills-section">
        <div class="row content-wrapper-cv z-depth-5 flex-inner">

            <div class="col s12 l6 no-margin no-padding">
                <div class="padding-right-half content-wrapper-cv-inner">
                    <h2 class="no-margin">Hard skills</h2>
                    <p class="subheader"><em>A non-exhaustive list of hard skills recently & actively applied.</em></p>
                    <div>
                        <h5>
                            Backend development <span class="badge">Java</span>
                        </h5>
                        <progress max="100" value="90"></progress>
                    </div>
                    <div>
                        <h5>
                            Spring <span class="badge">Boot</span> <span class="badge">Framework</span> <span
                                class="badge">Data</span> <span class="badge">JDBC-data</span> <span
                                class="badge">Web</span> <span
                                class="badge">Security</span>
                        </h5>
                        <progress max="100" value="80"></progress>
                    </div>
                    <div>
                        <h5>
                            JDBC / JPA <span class="badge">Hibernate</span>
                        </h5>
                        <progress max="100" value="70"></progress>
                    </div>
                    <div>
                        <h5>
                            Frontend development <span class="badge">Angular</span> <span
                                class="badge">JavaScript</span> <span class="badge">TypeScript</span> <span
                                class="badge">Bootstrap</span> <span class="badge">Tailwind</span>
                        </h5>
                        <progress max="100" value="75"></progress>
                    </div>
                    <div>
                        <h5>
                            Build tools <span class="badge">Maven</span> <span class="badge">Gradle</span> <span
                                class="badge">NPM</span>
                        </h5>
                        <progress max="100" value="65"></progress>
                    </div>
                    <div>
                        <h5>
                            CI/CD <span class="badge">GitHub Actions</span> <span class="badge">Jenkins</span>
                        </h5>
                        <progress max="100" value="55"></progress>
                    </div>
                    <div>
                        <h5>
                            Cloud <span class="badge">Azure</span> <span class="badge">AWS</span> <span class="badge">Terraform</span>
                            <span class="badge">Kubernetes</span>
                        </h5>
                        <progress max="100" value="50"></progress>
                    </div>
                    <div>
                        <h5>
                            Containerization <span class="badge">Docker</span> <span class="badge">Docker compose</span>
                        </h5>
                        <progress max="100" value="65"></progress>
                    </div>
                    <div>
                        <h5>
                            DB & Migration <span class="badge">SQL</span> <span class="badge">PostgreSQL</span> <span
                                class="badge">MySQL</span> <span
                                class="badge">Liquibase</span> <span class="badge">Flyway</span>
                        </h5>
                        <progress max="100" value="65"></progress>
                    </div>
                    <div>
                        <h5>
                            TDD / Testing <span class="badge">JUnit5</span> <span class="badge">JEST</span> <span
                                class="badge">Cypress</span> <span class="badge">Playwright</span> <span class="badge">Testcontainers</span>
                        </h5>
                        <progress max="100" value="90"></progress>
                    </div>
                    <div>
                        <h5>
                            BDD <span class="badge">Cucumber</span> <span class="badge">Gherkin</span> <span
                                class="badge">Spock</span>
                        </h5>
                        <progress max="100" value="65"></progress>
                    </div>
                    <div>
                        <h5>
                            Code quality <span class="badge">Clean code</span> <span class="badge">Refactoring</span>
                            <span class="badge">Sonar</span> <span class="badge">ArchUnit</span>
                        </h5>
                        <progress max="100" value="80"></progress>
                    </div>
                    <div>
                        <h5>
                            Messaging <span class="badge">Pulsar</span> <span class="badge">Debezium</span> <span
                                class="badge">Service bus</span>
                        </h5>
                        <progress max="100" value="50"></progress>
                    </div>
                    <div>
                        <h5>
                            Observability <span class="badge">Kibana</span> <span class="badge">New Relic</span> <span
                                class="badge">Prometheus</span> <span class="badge">Grafana</span>
                        </h5>
                        <progress max="100" value="50"></progress>
                    </div>
                    <div>
                        <h5>
                            Methodologies <span class="badge">Agile</span> <span class="badge">Scrum</span> <span
                                class="badge">Kanban</span>
                        </h5>
                        <progress max="100" value="70"></progress>
                    </div>
                    <div>
                        <h5>
                            PM Tooling <span class="badge">Jira</span> <span class="badge">Confluence</span> <span
                                class="badge">GitHub Projects</span>
                        </h5>
                        <progress max="100" value="65"></progress>
                    </div>
                </div>
            </div>

            <div class="col s12 l6 black no-margin no-padding">
                <div class="content-wrapper-cv-inner column-to-row">
                    <h2 class="no-margin">Soft skills & character</h2>
                    <p class="subheader"><em>A non-exhaustive list of the most outspoken soft skills and character.</em>
                    </p>
                    <div class="flex">
                        <span class="cloud cloud-2">Team player</span>
                        <span class="cloud cloud-1">Structured</span>
                        <span class="cloud cloud-2">Creative</span>
                        <span class="cloud cloud-1">Ownership</span>
                        <span class="cloud cloud-1">Communication</span>
                        <span class="cloud cloud-2">Mentoring</span>
                        <span class="cloud cloud-3">Stress resistant</span>
                        <span class="cloud cloud-1">Dedication</span>
                        <span class="cloud cloud-2">Kind</span>
                        <span class="cloud cloud-3">Helpful</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="container eduction-section">
        <div class="content-wrapper z-depth-5">
            <h2 class="no-margin">Higher education</h2>

            <div class="flex">
                <div class="z-depth-3 education flex-element no-margin-bottom">
                    <h3>Master of Science (M.S.), MSc. Applied Informatics</h3>
                    <div class="cv-details valign-wrapper">
                        <div class="flex-inner">
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                                2012 - 2015
                            </div>
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                                KUL, Leuven, Belgium
                            </div>
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">school</i>
                                Magna Cum Laude
                            </div>
                        </div>
                    </div>
                    <p class="no-margin-bottom"><em>With an emphasis on software engineering, machine learning, AI &
                        user interaction.</em></p>
                </div>

                <div class="z-depth-3 education flex-element no-margin-bottom">
                    <h3>Professional Bachelor in Applied Informatics</h3>
                    <div class="cv-details valign-wrapper">
                        <div class="flex-inner">
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">access_time</i>
                                2009 - 2012
                            </div>
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">location_on</i>
                                PXL, Hasselt, Belgium
                            </div>
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">school</i>
                                Cum Laude
                            </div>
                        </div>
                    </div>
                    <p class="no-margin-bottom"><em>With software development as specialisation and with a four-month
                        internship at Prague, Czechia.</em></p>
                </div>

            </div>
        </div>
    </section>

    <section class="container">
        <div class="content-wrapper z-depth-5">
            <h2 class="no-margin">Continuous learning</h2>

            <div class="z-depth-3 learning">
                <h3>Online courses</h3>
                <p class="no-margin"><em>A selection of followed courses & tutorials.</em></p>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Official React tutorial
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Official Next.js tutorial
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Official Redux tutorial
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Ultimate AWS Certified Solutions Architect Associate (50% of modules), Stephane Maarek
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Practical Deep Learning for Coders, Part 1
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Hacker's Guide to Language Models
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Azure fundamentals (AZ-900)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Docker and Kubernetes: The big picture
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Docker For Web Developers
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Handling Data And Stateful Applications in Docker
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Angular Path (PluralSight, Deborah K.)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Svelte, official tutorial
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Artificial Intelligence Foundation: Neural Networks (LinkedIn Learn)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            Java modularity & what's new in Java
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            C# Programming (Microsoft)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">dvr</i>
                            .NET Core (Microsoft)
                        </div>
                    </div>
                </div>
            </div>

            <div class="z-depth-3 learning">
                <h3>Books</h3>
                <p class="no-margin"><em>A selection of read IT-related books.</em></p>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Accelerate
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Generative AI on AWS
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Spring Microservices in Action
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            The Coming Wave
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Refactoring UI
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Terraform: Up & Running
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Soft Skills: The software developer's life manual
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Effective Java: Third edition
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Designing Data-Intensive Applications
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Clean Code
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Clean Architecture
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Refactoring: Improving the Design of Existing Code
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Building Microservices: Designing Fine-Grained Systems
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Implementing Domain-Driven Design
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Patterns, Principles, and Practices of Domain-Driven Design
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Your Code as a Crime Scene
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Enterprise Angular Monorepo Patterns
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Java 9 Modularity: Patterns and Practices
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Understanding ECMAScript 6
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Practices of an Agile Developer: Working in the Real World
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Software Architecture: The Hard Parts
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Head First Design Patterns
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">book</i>
                            Head First Java
                        </div>
                    </div>
                </div>
            </div>

            <div class="z-depth-3 learning">
                <h3>Classroom Trainings & Events</h3>
                <p class="no-margin"><em>A selection of followed trainings & attended events.</em></p>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            Terraform (workshop)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            SoCraTes (open space)
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            Core Spring
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            JavaScript: Basics
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            JavaScript: Advanced
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            Insights discovery workshop
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            The 7 habits of highly effective people Training
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            Angular Master Class
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            Agile Introduction
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">group</i>
                            Agile Software Engineering
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">event</i>
                            Devoxx
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">event</i>
                            Exploration Days (Hackathon)
                        </div>
                    </div>
                </div>
            </div>

            <div class="z-depth-3 learning no-margin-bottom">
                <h3>Staying informed</h3>
                <p class="no-margin"><em>A selection of online news sources that help me stay informed.</em></p>
                <div class="cv-details valign-wrapper">
                    <div class="flex-inner">
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">rss_feed</i>
                            Hacker News
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">rss_feed</i>
                            InfoQ
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">rss_feed</i>
                            Ars Technica
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">rss_feed</i>
                            InfoWorld
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">rss_feed</i>
                            DZone
                        </div>
                        <div class="padding-right-half">
                            <i class="tiny material-icons amber-text text-lighten-3">rss_feed</i>
                            (some) Newsletters
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="container language-section">
        <div class="content-wrapper z-depth-5">
            <h2 class="no-margin">Languages</h2>

            <div class="flex">
                <div class="flex-element z-depth-3 languages no-margin-bottom">
                    <h3>Dutch</h3>
                    <div class="cv-details valign-wrapper">
                        <div class="flex">
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">language</i>
                                Native proficiency (5)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-element z-depth-3 languages no-margin-bottom">
                    <h3>English</h3>
                    <div class="cv-details valign-wrapper">
                        <div class="flex">
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">language</i>
                                Full professional proficiency (4)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-element z-depth-3 languages no-margin-bottom">
                    <h3>French</h3>
                    <div class="cv-details valign-wrapper">
                        <div class="flex">
                            <div class="padding-right-half">
                                <i class="tiny material-icons amber-text text-lighten-3">language</i>
                                Limited working proficiency (2)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="container no-margin-bottom">
        <div class="content-wrapper z-depth-5 no-margin-bottom">
            <h2 class="no-margin">Want to get in touch?</h2>
            <p class="flow-text no-margin-bottom no-padding-bottom">
                Feel free to contact me through <a href="mailto:cv@niedel.be">cv@niedel.be</a> or <a
                    href="https://www.linkedin.com/in/niedel" target="_blank"
                    title="LinkedIn">linkedin.com/in/niedel</a>.
            </p>
        </div>
    </section>

</div>
