<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

    {%- include head.html -%}

    <body class="bg-gray-800 text-gray-300 font-sans">

    <div class="bg-gradient-to-r from-amber-200 to-rose-400/75 mx-auto shadow-lg absolute h-1/4 w-full -z-10 -skew-y-3 fixed scale-150"></div>

        {%- include header.html -%}


        <main aria-label="content" class="my-10 lg:my-20">
            {{ content }}
        </main>


        {%- include footer.html -%}

    </body>

</html>
