---
layout: default
---

<div class="introduction-banner-wrapper">
  <div class="introduction-banner-container">
      <div class="introduction-banner-content center-align">
        <div class="container">
          <p class="flow-text">
            <span class="highlight">A true believer of software craftsmanship and the XP practices.
              Strives to write readable, flexible and simple code that is properly tested.
              Aims to create maintainable and flexible applications in team. Embraces and enjoys continuous learning...
              <i>and sometimes writes an article on a technical topic.</i>
            </span>
          </p>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="content-wrapper z-depth-5">

    <div class="home">

      {%- if page.title -%}
        <span class="float-right"><a href="{{ '/feed.xml' | relative_url }}" class="waves-effect waves-light btn-small black-text"><i class="material-icons right">rss_feed</i>Subscribe</a></span>
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      {{ content }}

      {%- if site.posts.size > 0 -%}
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            <div class="row post-excerpt-container">
              <div class="col s12 l6 grey darken-4">
                <div class="post-excerpt-header">
                  <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>
                  <i class="tiny material-icons">access_time</i>
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <span class="post-meta"> {{ post.date | date: date_format }}</span>
                </div>
              </div>
              <div class="col s12 l6">
                <div class="post-excerpt-body">
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
                </div>
              </div>
            </div>
          </li>
          {%- endfor -%}
        </ul>

      {%- endif -%}

    </div>

  </div>
</div>
