---
layout: default
---

<div class="top-page-banner-wrapper">
  <div class="top-page-banner-container">
  </div>
</div>

<div class="container">
  <div class="content-wrapper z-depth-5">

    <div class="home">

      {%- if page.title -%}
        <span class="right"><a href="{{ '/feed.xml' | relative_url }}" class="waves-effect waves-light btn-small black-text"><i class="material-icons right">rss_feed</i>Subscribe</a></span>
        <h1 class="page-heading amber-text text-lighten-3">{{ page.title }}</h1>
      {%- endif -%}

      {{ content }}

      {%- if site.posts.size > 0 -%}
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li class="post-list-item">
            <div class="row post-excerpt-container">
              <div class="col s12 l6 grey darken-4">
                <div class="post-excerpt-header">
                  <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>
                  <i class="tiny material-icons">access_time</i>
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <span class="post-meta"> {{ post.date | date: date_format }}</span>
                </div>
              </div>
              <div class="col s12 l6">
                <div class="post-excerpt-body">
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
                  <a class="p" href="{{ post.url | relative_url }}">Read more</a>
                </div>
              </div>
            </div>
          </li>
          <div class="hide-on-med-and-up">
            <div class="spacer-mobile"></div>
          </div>
          {%- endfor -%}
        </ul>

      {%- endif -%}

    </div>

  </div>
</div>
