---
layout: default
---

<div class="top-page-banner-wrapper">
    <div class="top-page-banner-container">
    </div>
</div>

<div class="top-margin">
    <div class="container">

        <div class="article-wrapper z-depth-5">

            <header class="post-header padding">
                <h1 class="post-title no-margin" itemprop="name headline">{{ page.title | escape }}</h1>
                <p class="post-meta">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        <i class="tiny material-icons">access_time</i>
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        <span> Written on {{ page.date | date: date_format }}</span>
                    </time>
                    {%- if page.author -%}
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                        class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                    {%- endif -%}
                </p>
            </header>

            <article class="content-wrapper no-margin-bottom no-padding-top post h-entry" itemscope
                     itemtype="http://schema.org/BlogPosting">

                <div class="post-content" itemprop="articleBody">
                    {{ content }}
                </div>

                <hr class="fade">
                <p>Thank you for reading, <a href="/who" title="Niels Delestinne">Niels</a></p>

                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
            </article>

        </div>
    </div>
</div>